<div id="CartDrawer" class="ajaxcart-popup">
  <div class="drawer__header">
    <div class="table-cell">
      <span class="close-cart">
        close(x)
      </span>
    </div>
    <div class="table-cell">
	<img src={{"CACHE_CASA_LOGO.png" | asset_img_url : '85x'}}>
    </div>
  </div>
  <div id="CartContainer"></div>
</div>