<div class="page-width">
  <div class="rte">
    <div class="grid">
      <div class="grid__item  medium-up--one-third">
        <p>{{ page.title }}</p>
        <p>Email: info@cachecasa.com</p>
      </div>
      <div class="grid__item paddingleft20 medium-up--one-third">
        <p>social </p>
        <p>Instagram: @cachecasa</p>
      </div>
    </div>
    {{ page.content }}
  </div>
</div>
